@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', 'Tahoma', sans-serif;
    font-size: 20px;
    color: #636060;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 109px;
    box-sizing: border-box;
}

.background {
    margin: 0;
    padding: 0;
    width: 100%;
}

.blur {
    filter: blur(2px);
    animation-name: blur;
    animation-duration: 2s;
}

@keyframes blur {
    from {
        filter: blur(0);
    }
    to {filter: blur(2px);}
}

.background__dark {
    background-color: #EDF2EC;
}

.background__light {
    background-color: #FFFFFF;
}
.background.header__background {
    margin-bottom: 2px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 132px;
}

.logo__link {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 66px;
    height: 21px;
    margin-bottom: 3px;
}

.logo__img {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.logo__text {
    color: #000000;
    font-family: 'Inika';
    font-size: 16px;
    line-height: 16px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 452px;
}

.navigation__link {
    color: #010201;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.navigation__link:hover,
.logo__link:hover {
    cursor: pointer;
    opacity: 0.7;
    font-weight: 600;
}

.welcome__link:hover,
.service__button:hover,
.prices__button:hover {
    cursor: pointer;
    background-color: #E06733;
    color: #ffffff;
}

.navigation__link_active {
    color: #E06733;
}

.navigation__button {
    display: none;
}

.welcome {
    background-image: url('./img/leafs.png');
    background-repeat: no-repeat;
    background-position: -1% 51%;
    background-size: 462px 424px;
    box-sizing: border-box;
    min-height: 532px;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    padding: 94px 0;
}

.welcome__content {
    width: 44.8%;
}

.welcome__header {
    font-family: 'Inter';
    font-weight: 700px;
    font-size: 45px;
    line-height: 50px;
    margin: 7px 0 45px 0;
}

.welcome__header_accent {
    color: #499A18;
}

.welcome__text {
    font-family: 'Inter';
    font-weight: 400px;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 46px;
}

.welcome__link {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    color: #000000;
    width: 158px;
    height: 44px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-size: 16px;
    border: 2px solid #E06733;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
}

.about {
    background-image: url('./img/houseplant1.png');
    background-repeat: no-repeat;
    background-position: 100% 48%;
    background-size: 464px 479px;
    box-sizing: border-box;
    min-height: 666px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 93px 0;
}

.about__content {
    width: 610px;
}

.about__header {
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    width: 80%;
    margin-top: 22px;
    margin-bottom: 40px;
}

.about__header_accent {
    color: #E06733;
}

.about__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.service {
    box-sizing: border-box;
    margin: 0;
    min-height: 1300px;
    padding: 40px 0 120px 0;
}

.service__header {
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52.12px;
    color: #499A18;
    margin: 0;
}

.service__buttons {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}

.service__button {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    box-sizing: border-box;
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 38px;
}
.service__button:disabled {
    background-color: #EDF2EC;
    border-color: #636060;
    color: #636060;
}
.service__button_active {
    cursor: pointer;
    background-color: #E06733;
    color: #ffffff;
    animation-name: active_btn;
    animation-duration: 2s;
}
@keyframes active_btn {
    from {
        background-color: transparent;
        color: #E06733;
    }
    to {
        background-color: #E06733;
        color: #ffffff;
    }
}

.servise__top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 58px;
}

.service__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 116px;
    row-gap: 55px;
    padding: 0;
    margin: 77px 0 0 0;
}

.service__item {
    max-width: 330px;
    overflow: hidden;
    background-color: #EDF2EC;
    border-radius: 20px 20px 0 0;
}

.service__img {
    height: 350px;
    width: 329px;
}

.service__item-content {
    box-sizing: border-box;
    border: 1px solid #E3E1D5;
    border-radius: 0 0 20px 20px;
    margin-top: -5px;
}

.service__item-header {
    font-family: 'Inter', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #E06733;
    margin: 8px 0 12px 0;
    text-align: center;
}

.service__item-text {
    display: block;
    width: 95%;
    font-family: 'Inter', serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto 36px auto;
}

.prices {
    background-image: url(./img/leafs\(1\).png);
    background-repeat: no-repeat;
    background-size: 166px 187px;
    background-position: 101% 70%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 318px;
    min-height: 555px;
    padding: 35px 0 90px 0;
}

.prices__content {
    display: flex;
    flex-direction: column;
}

.prices__header, .price__text {
    font-family: 'Inter', serif;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    line-height: 50px;  
    margin: 0;
}

.prices__list {
    list-style: none;
    margin: 60px 0 0 0;
    padding: 0;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    width: 332px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 34px 41px;
}


.prices__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 40px;
    background-color: #EDF2EC;
    width: 100%;
    max-height: 50px;
    border-radius: 20px;
    margin-bottom: 31px;
}
.prices__item:hover {
    cursor: pointer;
}
.prices__item-wrapper:hover {
    opacity: 0.7;
}
.prices__item:last-child {
    margin: 0;
}
.prices__item-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.prices__link {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    color: #000000;
}
.prices__decor {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.prices__decor::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border: 0.5px solid #717171;
    border-left: none;
    border-top: none;
    top: 6px;
    right: 7px;
    transform: rotate(45deg);
}

.prices__item-content {
    display: none;
}
.prices__item_active {
    background-color: #D6E7D2;
    height: auto;
    max-height: none;
}
.prices__item_active .prices__decor::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border: 0.5px solid #717171;
    border-left: none;
    border-top: none;
    top: 6px;
    right: 7px;
    transform: rotate(-135deg);
}
.prices__cost {
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}
.prices__cost span{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #E06733;
}
.prices__cost i {
    font-size: 12px;
    font-style: normal;
}
.prices__order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 12px 0 0 0;
}
.prices__order:hover {
    color: #000000;
}
.prices__item_active .prices__item-content {
    display: flex;
    flex-direction: column;
}
hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #AEA1A1;
    margin: 12px 0 0 0;
}
.prices__item-text {
    font-size: 10px;
    line-height: 10px;
    margin: 6px 0;
}

.price__text {
    text-align: right;
}

.price__text_accent {
    color: #499A18;
}

.prices__button {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    box-sizing: border-box;
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: transparent;
    margin: 40px 0 0 0;
}

.prices__content_right {
    align-items: flex-end;
}

.contacts {
    box-sizing: border-box;
    padding: 60px 0;
    min-height: 550px;
    background-image: url(./img/contact_woman1.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.contacts__header {
    font-family: 'Inika';
    font-weight: 700px;
    font-size: 40px;
    color: #499A18;
    text-align: center;
    margin: 0;
}

.contacts__select-custom {
    position: relative;
    box-sizing: border-box;
    border: none;
    background-color: #D6E7D2;
    color: #717171;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
    width: 450px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 0 35px 0 20px;
    cursor: pointer;
    margin: 37px 0 0 auto;
}

.contacts__select {
    display: none;
}

.contacts__select-custom::after {
    content: '';
    position: absolute;
    background-color: #AEA1A1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: 35px;
    top: 17px;
    z-index: 1;
}

.contacts__select-custom::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border: 0.5px solid #ffffff;
    border-left: none;
    border-top: none;
    top: 23px;
    right: 41px;
    transform: rotate(45deg);
    z-index: 2;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', 'Tahoma', serif;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    min-height: 130px;
}

.copyright__wrapper {
    display: flex;
    justify-content: flex-start;
}

.footer__copyright {
    margin-right: 20px;
}

.footer__copyright_year {
    font-style: normal;
    margin-right: 20px;
}

.footer__wrapper a, .footer__wrapper a:visited {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

.footer__wrapper a:hover,
.footer__item:hover {
    cursor: pointer;
    opacity: 0.8;
}

.footer__wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__link_rs {
    padding: 0 0 0 15px;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 188px;
}

.footer__social-link {
    display: block;
    width: 32px;
    height: 32px;
}

.footer__item_instagram {
    background-image: url(./img/instagram.svg);
}

.footer__item_facebook {
    background-image: url(./img//fb.svg);
}

.footer__item_twitter {
    background-image: url(./img/twitter.svg);
}

.footer__item_pinterest {
    background-image: url(./img/pinterest.svg);
}

@media (max-width: 1200px) and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 50px;
    }
    .header {
        height: 117px;
    }
    .background.header__background {
        margin-bottom: 0;
    }
    .logo__text {
        text-shadow: none;
    }
    .navigation__list {
    list-style: none;
    display: flex;
    max-width: 452px;
    justify-content: space-between;
}

    .welcome {
        background-position: 101% 20%;
        background-size: 290px 265px;
        min-height: 420px;
        padding: 40px 0;
        justify-content: flex-start;
    }
    .welcome__content {
        width: 53%;
    }
    .welcome__header {
        font-size: 35px;
        line-height: 50px;
        margin: 0px 0 30px 0;
    }
    .welcome__text {
        font-size: 16px;
        line-height: 25px;
        margin-top: 0;
        margin-left: 5px;
        margin-bottom: 35px;
    }

    .about {
        background-position: 50% 82%;
        background-size: 250px 258px;
        min-height: 783px;
        /* display: flex;
        justify-content: flex-start;*/
        align-items: flex-start; 
        padding: 40px 0;
    }
    .about__content {
        width: 100%;
    }
    .about__header {
        text-align: center;
        font-weight: 400;
        font-size: 35px;
        line-height: 45px;
        margin: 0 auto;
        width: 60%;
    }
    .about__text {
        font-size: 20px;
        line-height: 30px;
        margin-top: 52px;
    }

    .service {
        min-height: 1780px;
        padding: 60px 0 65px 0;
    }
    .service__header {
        font-size: 35px;
        line-height: 46px;
        max-width: 300px;
    }
    .servise__top {
        grid-template-columns: 1fr;
        row-gap: 42px;
    }
    .service__list {
        grid-template-columns: 1fr 1fr;
        column-gap: 106px;
        row-gap: 38px;
        padding: 0;
        margin: 40px 0 0 0;
    }
    .service__item {
        max-width: 280px;
        width: 280px;
    }
    .service__img {
        width: 280px;
    }
    .service__item-content {
        box-sizing: border-box;
    }
    .service__item-header {
        line-height: 20px;
        margin: 9px 0 11px 0;
    }
    .service__item-text {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 18px;
    }

    .prices {
        background-size: 160px 185px;
        background-position: 101% 78%;
        column-gap: 40px;
        min-height: 585px;
        padding: 40px 0 90px 0;
    }
    .prices__content {
        display: flex;
        flex-direction: column;
    }
    .price__text {
        font-size: 25px;
        line-height: 35px;
        margin-top: 99px;
        text-align: right;
    }
    .prices__header {
        font-size: 35px;
        line-height: 42px;
        padding-left: 15px;
    }
    .prices__list {
        margin: 57px 0 0 0;
    }
    .prices__button {
        margin-top: 30px;
        margin-left: auto;
    }
    
    .contacts {
        padding: 40px 0;
        min-height: 739px;
        background-position: 52% 100%;
        background-size: 200px 250px;
    }
    .contacts__header {
        margin: 0 0 100px 0;
    }
    .contacts__select-custom {
        margin:  0 auto;
    }

    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        padding: 33px 0 25px 0;
        font-size: 20px;
        line-height: 24px;
        min-height: 181px;
        box-sizing: border-box;
    }
    .footer__link_rs {
        padding: 0 0 15px 0;
    }
}

@media (max-width: 767px) {
    header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .background.header__background {
        margin-bottom: 0;
    }
    .navigation__button {
        display: flex;
        align-items: flex-end;
        position: relative;
        background-color: transparent;
        color: transparent;
        user-select: none;
        width: 40px;
        height: 24px;
        font-size: 0;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    .navigation__button_closed::before {
        content: '';
        position: absolute;
        left: 0;
        z-index: 1;
        width: 40px;
        height: 2px;
        background-color: #717171;
        box-shadow: 0 -8px #717171, 0 -16px #717171, 0 -24px #717171;
    }
    .navigation__button_opened::before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        z-index: 4;
        width: 40px;
        height: 2px;
        background-color: #717171;
        transform: rotate(45deg);
    }
    .navigation__button_opened::after {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        z-index: 4;
        width: 40px;
        height: 2px;
        background-color: #717171;
        transform: rotate(-45deg);
    }
    .navigation__list {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        background-color: #fffffff0;
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }
    .navigation__list_closed {
        display: none;
    }
    .navigation__list_opened {
        display: flex;
        justify-content: flex-start;
    }
    .navigation__item {
        width: 300px;
        margin: 15px auto;
    }


    .container {
        max-width: 380px;
        padding: 0 25px;
    }
    .header {
        height: 96px;
    }
    .logo__text {
        text-shadow: none;
    }


    .welcome {
        background: none;
        min-height: 300px;
        padding: 24px 0;
        justify-content: flex-start;
    }
    .welcome__content {
        width: 100%;
    }
    .welcome__header {
        font-size: 25px;
        line-height: 35px;
        margin: 2px 0 20px 0;
    }
    .welcome__text {
        font-size: 16px;
        line-height: 25px;
        margin-top: 0;
        margin-left: 0px;
        margin-bottom: 25px;
    }
    .welcome__link {
        width: 100px;
        height: 34px;
        font-size: 10px;
        line-height: 20px;
        border-radius: 10px;
    }

    .about {
        background-position: 50% 92%;
        background-size: 150px 155px;
        min-height: 516px;
        align-items: flex-start; 
        padding: 30px 0;
    }
    .about__content {
        width: 100%;
    }
    .about__header {
        text-align: center;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        width: 100%;
        margin: 0;
    }
    .about__text {
        font-size: 15px;
        line-height: 25px;
        margin: 14px  0px;
    }

    .service {
        min-height: 3150px;
        padding: 30px 0 28px 0;
    }
    .service__header {
        font-size: 25px;
        line-height: 33px;
        max-width: 190px;
    }
    .service__buttons {
        display: flex;
        flex-wrap: wrap;
    }
    .service__button {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .servise__top {
        grid-template-columns: 1fr;
        row-gap: 38px;
    }
    .service__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 0px;
        row-gap: 34px;
        padding: 0;
        margin: 29px 0 0 0;
    }
    .service__item {
        max-width: 280px;
        width: 280px;
    }
    .service__img {
        width: 280px;
    }
    .service__item-content {
        box-sizing: border-box;
    }
    .service__item-header {
        line-height: 20px;
        margin: 9px 0 10px 0;
    }
    .service__item-text {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 19px;
    }

    .prices {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        column-gap: 19px;
        min-height: 512px;
        padding: 25px 0 40px 0;
    }
    .prices__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .price__text {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        margin-top: 19px;
        width: 80%;
    }
    .prices__header {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }
    .prices__list {
        margin: 35px 0 0 0;
        width: 224px;
        height: auto;
        padding: 28px 22px;
    }
    .prices__link {
        font-size: 15px;
        line-height: 20px;
    }
    .prices__item {
        padding: 15px 40px 15px 30px;
    }
    .prices__item {
        margin-bottom: 14px;
    }
    .prices__item:last-child {
        margin-bottom: 0;
    }
    .prices__button {
        margin: 20px auto 0 auto;
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
    }
    
    .contacts {
        padding: 25px 0;
        min-height: 445px;
        background-position: 50% 100%;
        background-size: 100px 124px;
    }
    .contacts__header {
        margin: 0 0 80px 0;
        font-size: 25px;
        line-height: 33px;
    }
    .contacts__select-custom {
        margin:  0 auto;
        width: 300px;
        height: 50px;
    }
    .contacts__select-text {
        font-size: 20px;
        line-height: 40px;
    }
    .contacts__select-custom::after {
        right: 22px;
        top: 16px;
    }
    .contacts__select-custom::before {
        top: 21px;
        right: 29px;
    }

    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        padding: 22px 0 15px 0;
        font-size: 20px;
        line-height: 24px;
        min-height: 146px;
        box-sizing: border-box;
    }
    .footer__link_rs {
        padding: 0;
    }
}